$accentColor: rgb(255, 145, 125);
.mText  {
    #text-field-hero-input {
        caret-color: red;
    }
    .mdc-notched-outline__leading{
        border-color: $accentColor!important;
    }

    .mdc-notched-outline__notch{
        border-color: $accentColor!important;
    }

    .mdc-notched-outline__trailing{
        border-color: $accentColor!important;
    }

    .mdc-floating-label {
        color: $accentColor!important;
    }
}

.login-center {
width: 30%;
height: fit-content;
margin: auto;
margin-top: 20vh;
border-color: #ff917d;
border-radius: 1rem !important; }

.loginbtn {
color: #f73816 !important;
border-color: #ff917d !important; }

.company-logo {
margin-right: auto;
margin-left: auto;
margin-top: 20px; }

.center-name {
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px; }

.center-email {
margin-left: auto;
margin-right: auto;
margin-bottom: 30px; }

.center-email-login {
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px; }

.center-pass {
margin-left: auto;
margin-right: auto;
margin-bottom: 30px; }

.center-buttons {
width: 100px;
    margin-left: auto;
    margin-right: 33px;
margin-bottom: 40px; }

