{% extends "main_template.html" %}
{% block title %}
    <title>Logout</title>
{% endblock %}



{% block content %}
    <div class="mdc-card mdc-elevation--z3 login-center  mdc-card--outlined">


        <form action="/logout_sucess" method="post">
            <div class="row">

                <img src="/static/favicon.png" width="200px" class="company-logo">
            </div>

            <div class="row">

                <h1 style="margin-right: auto; margin-left: auto; margin-top: 10px; margin-bottom: 10px;"> {{ name }}</h1>
            </div>

            <div class="row">
                <div style="margin-left: auto;  margin-bottom: 20px; margin-right: auto;">
                    <button class="mdc-button mdc-button--outlined loginbtn"><span class="mdc-button__ripple"></span>
                        Logout
                    </button>


                </div>
            </div>
        </form>


        <form style="background-color: rgb(255, 145, 125); border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem; text-align: center;"
              action="/">
            <button class="mdc-button ">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" style="color:rgb(255, 41, 41); margin: 5px;">Go to homepage</span>
            </button>
        </form>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        mdc.textField.MDCTextField.attachTo(document.querySelector('.email'));
        mdc.textField.MDCTextField.attachTo(document.querySelector('.pass'));
        mdc.textField.MDCTextField.attachTo(document.querySelector('.name'));
    </script>

{% endblock %}