{% extends "main_template.html" %}
{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="mdc-card mdc-elevation--z3 login-center  mdc-card--outlined">


        <div class="container-fluid">
            <form action="/registered" autocomplete="on" method="post">
                <div class="row">
                    <img src="/static/favicon.png" width="200px" class="company-logo">
                </div>


                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="center-name">
                                <div class="mdc-text-field mdc-text-field--outlined name mText">
                                    <input class="mdc-text-field__input" name="name" id="text-field-hero-input"
                                           type="text">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="center-email">
                                <div class="mdc-text-field mdc-text-field--outlined email mText">
                                    <input class="mdc-text-field__input" name="email" id="text-field-hero-input"
                                           type="email">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="center-name">
                                <div class="mdc-text-field mdc-text-field--outlined username mText">
                                    <input class="mdc-text-field__input" name="username" id="text-field-hero-input"
                                           type="text">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input"
                                                   class="mdc-floating-label">Username</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="center-pass">
                                <div class="mdc-text-field mdc-text-field--outlined pass mText">
                                    <input class="mdc-text-field__input" name="pass" id="text-field-hero-input"
                                           type="password">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input"
                                                   class="mdc-floating-label">Password</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="center-buttons">
                        <button class="mdc-button mdc-button--outlined loginbtn"><span
                                class="mdc-button__ripple"></span> Register
                        </button>


                    </div>
                </div>
            </form>


        </div>


        <form style="background-color: rgb(255, 145, 125); border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem; text-align: center;"
              action="/login">
            <button class="mdc-button ">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" style="color:rgb(255, 41, 41); margin: 5px;">Already have a account? Login In</span>
            </button>
        </form>

    </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        mdc.textField.MDCTextField.attachTo(document.querySelector('.email'));
        mdc.textField.MDCTextField.attachTo(document.querySelector('.pass'));
        mdc.textField.MDCTextField.attachTo(document.querySelector('.username'));
        mdc.textField.MDCTextField.attachTo(document.querySelector('.name'));
    </script>

{% endblock %}